<!DOCTYPE html>
<head>
    <title>Ecommerce Website</title>
</head>
<body>
    <% include ./partials/navbar%>
    <h1>BoilerPlate</h1>
    <%- body -%>
    <% include ./partials/footer%>
</body>
</html>